* {
  box-sizing: border-box;
}

html {
	font-size: responsive 1em 1.25em;
	font-range: 32em 81.25em;
}

body {
  font-size: 100%;
  background-color: $base-colour-b;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

body, html {
  height: 100%;
}
