@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

#tracks {
  text-align: center;
  max-width: 1400px;
  display: block;
  margin: 6em auto;
  z-index: 1;
}

.track {
  height: 150px;
  margin: 15px;
  display: inline-block;
  position: relative;
  box-shadow: -20px 20px 15px $base-colour-c;
  z-index: 1;
  @media all and (min-width: $bp-m) {
    margin: 20px;
    height: 250px;
  }
}

h2 {
  width: 100%;
  position: absolute;
  color: $base-color-a;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  z-index: 999;
  font-size: 1em;
  @media all and (min-width: $bp-m) {
    font-size: 1.5em;
  }
}

img {
  height: 100%;
}

.overlay {
  background: $base-colour-c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}

.play-btn {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.left {
  height: 100%;
  float: left;
  background-color: $base-color-a;
  width: 50%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}

.right {
  height: 100%;
  float: right;
  width: 50%;
  background-color: $base-color-a;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.pause .left {
  width: 36%;
}

.pause .right {
  width: 36%;
}

.pause .triangle-1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.pause .triangle-2 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 50px solid rgba(19, 24, 41, 0.4);
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.triangle-1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.triangle-2 {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
