// Site Colours
$base-color-a: #FA6900; // elements colour
$base-colour-b: #23293F; // background colour
$base-colour-c: #131829; // overlay colour

// Media Queries Breakpoints
$bp-xxs: 320px;
$bp-xs:  480px;
$bp-s:   600px;
$bp-m:   740px;
$bp-l:   960px;
$bp-xl:  1300px;
$bp-xxl: 1600px;
